active-tab {
    border: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bolder;
    font-size: 28px;
    height: 100%;
    text-align: center;
    margin-left: 14px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #FFF;
}