<div style="display: grid; grid-template-columns: 3fr 9fr 2fr; padding: 32px;">
    <img style="width:250px; margin-left: auto; margin-right: auto;" class="bg-info rounded-circle"
        src="/static/nischay.jpeg">
    <div style="margin-top: auto; margin-bottom: auto; margin-left: 24px;">
        <h1 style="padding-bottom: 16px;">Hi 👋, I'm Nischay </h1>
        <h4>Connect with me:</h4>
        <div style="display: inline; inline-size: auto;">
            <a href="https://linkedin.com/in/nischay-2604">
                <img style="width: 32px;" src="/static/linkedin.png">
            </a>
            <a href="https://github.com/zeus2611">
                <img style="width: 32px;" src="/static/github.png">
            </a>
            <a>
                <img style="width: 32px;" src="/static/x.png">
            </a>
            <!-- <a>
                <img style="width: 32px;" src="/static/instagram.png">
            </a> -->
        </div>
    </div>
    <a href="" style="margin-top: auto; margin-bottom: auto;">
        <button type="button" style="
        border: 0;
        border-radius: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 32px;
        color: #ffffff;
        width:100%;
        text-align: center;
        background-color: #ff0000d0;
    ">Say Hi!</button>
    </a>
</div>
<div style="margin-left: 64px; margin-right: 64px;text-align: justify;">
        <p>Passionate DevOps/Cloud Engineer with a knack for seamlessly integrating cutting-edge technologies into practical solutions. From optimizing resource management and orchestrating cloud environments to developing innovative tools and deploying robust CI/CD pipelines, I thrive on creating efficient and scalable solutions. Armed with certifications in Google Cloud and AWS, coupled with hands-on experience in diverse tech stacks, I am dedicated to fostering a culture of continuous improvement and driving impactful results. <span style="font-weight: bold;">Let's build a future where technology meets innovation!</span></p>
</div>