<div class="container-fluid" style="vertical-align: middle;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FF0000" class="bi bi-circle-fill"
        viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFFF00" class="bi bi-circle-fill"
        viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#00FF00" class="bi bi-circle-fill"
        viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8" />
    </svg>
    <a href="/">
        <button type="button" style="
        border: 0;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: bolder;
        font-size: 28px;
        height: 100%;
        text-align: center;
        margin-left: 14px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #FFF;
    ">About Me</button>
    </a>
    <button type="button" style="
            border: 0;
            padding-top: 6px;
            padding-bottom: 6px;
            font-weight: bolder;
            font-size: 28px;
            height: 100%;
            text-align: center;
            padding-right: 24px;
            background-color: transparent;
        ">Blogs</button>
    <button type="button" style="
            border: 0;
            padding-top: 6px;
            padding-bottom: 6px;
            font-weight: bolder;
            font-size: 28px;
            height: 100%;
            text-align: center;
            padding-left: 24px;
            padding-right: 24px;
            background-color: transparent;
        ">Certificates</button>
    <button type="button" style="
            border: 0;
            padding-top: 6px;
            padding-bottom: 6px;
            font-weight: bolder;
            font-size: 28px;
            height: 100%;
            text-align: center;
            padding-left: 24px;
            padding-right: 24px;
            background-color: transparent;
        ">Projects</button>
</div>