<style>
    a {
        font-size: 32px;
        color: inherit;
        text-decoration: none;
        padding-right: 64px;
    }
</style>

<nav class="navbar navbar-light justify-content-between"
    style="padding-left: 100px;
        padding-right: 64px;">
    <a href="/" style="font-size: 52px; font-weight:bold;">nischay.</a>
    <div style="text-decoration: none;">
        <a class="form-inline" href="/">Blogs</a>
        <a class="form-inline" href="/">Certifications</a>
        <a class="form-inline" href="/">Projects</a>
    </div>
</nav>