<div style="padding-left: 64px; padding-right: 32px; ">
    <div style="display: flex;">
        <h3 style="font-weight: bold;">Work Experience</h3>
        <hr style="border-top: 2px solid #bf3131bf; width: 80%;align-items: center; margin: auto;;">
    </div>
    <div>
        <ul>
            {% for experience in work_experience %}
            <li>
                <div style="padding-right: 48px;">
                    <div style="display: flex;">
                        <h4 style="font-weight: bold;">{{experience['company']}}</h4>
                        <p style="margin-inline-start: 8px;margin-inline-end: 8px;"> as </p>
                        <h4 style="font-weight: bold;">{{experience['title']}}</h4>
                        <div
                            style="display: flex; font-size: 18px; margin-left: auto; margin-top: auto; margin-bottom: auto;">
                            <p>{{experience['start_date']}} - </p>
                            {% if experience['end_date'] != "": %}
                            <div> experience['end_date]</div>
                            {% else %}
                            <p style="margin-left: 6px;"> Present</p>
                            {% endif %}
                        </div>
                    </div>
                    {% for responsibilities in experience['description'].split('\n') %}
                    <ul>
                        <li style="font-size: 18px;padding: 0;">{{responsibilities}}</li>
                    </ul>
                    {% endfor %}
                </div>
            </li>
            {% endfor%}
        </ul>
    </div>
</div>