<div style="padding-left: 64px; padding-right: 32px;">
    <h3>Work Experience</h3>
    <div>
        {% for experience in work_experience %}
        <div>
            <h1>{{experience['title']}}</h1>
            <div style="display: inline; inline-size: auto">
                <p>{{experience['company']}}</p>
                <p>{{experience['start_date']}} - {{experience['end_date']}}</p>
            </div>
            {% for responsibilities in experience['description'].split('\n') %}
            <ul>
                <li style="font-size: 16px;padding: 0;">{{responsibilities}}</li>
            </ul>
            {% endfor %}
            <h1>{{experience['location']}}</h1>
        </div>
        {% endfor%}
    </div>
</div>